<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Man's Sky</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "fume/games.css" %}" />
  </head>
  <body>

    <div class="container nav">
      <nav>
        <div class="clearfix">
          <ul class="login">
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign In</a></li>
          </ul>
        </div>
        <ul class="menu">
          <li><a href="#">Search</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="/">Featured</a></li>
        </ul>
      </nav>
    </div>

    <div class="container top">
      <div class="gameImage">
        <img class="big" src="{% static "fume/nomans.png" %}" alt="">
        <div class="smallImage">
          <img class="small" src="" alt="">
          <img class="small" src="" alt="">
          <img class="small" src="" alt="">
        </div>
      </div>

      <div class="gameIntro">
        <img class="introImage" src="{% static "fume/noman2.jpg" %}" alt="">
        <p class="intro">No Man's Sky is an action-adventure survival video game developed and published by the indie studio Hello Games for PlayStation 4 and Microsoft Windows. The game was released worldwide in August 2016. </p>
        <div class="tags">
          <ul class="tagging">
            <li class="tag"><a href="#">RPG</a></li>
            <li class="tag"><a href="#">Single-Player</a></li>
            <li class="tag"><a href="#">Open World</a></li>
            <li class="tag addB"><a href="/tag/5"><img id="addbutton" src="{% static "fume/addbutton.jpg" %}" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container purchaseC clearfix">
      <div class="purchase">
        <a href="/purchase/6"><h3 class="purchaseB">Purchase</h3></a>
      </div>
      <div class="purchase2">
        <a href="/purchase/6"><h3 class="purchaseB">Add to Cart</h3></a>
      </div>
    </div>


    <div class="container">
      <div class="comments">
        <div class="comment">
          <h4 class="title">No Man's Sky is so boring and dumb</h4>
          <p class="content">I was tricked by the hype and marketing of the game. The game lacks both content and enjoyability.</p>
          <h5 class="userID">Written by hello1</h5>
        </div>

        <div class="comment">
          <h4 class="title">No Man's Sky is so boring and dumb</h4>
          <p class="content">I was tricked by the hype and marketing of the game. The game lacks both content and enjoyability.</p>
          <h5 class="userID">Written by gogo23</h5>
        </div>

        <div class="comment">
          <h4 class="title">No Man's Sky is so boring and dumb</h4>
          <p class="content">I was tricked by the hype and marketing of the game. The game lacks both content and enjoyability.</p>
          <h5 class="userID">Written by byebye13</h5>
        </div>

        <div class="comment">
          <h4 class="title">No Man's Sky is so boring and dumb</h4>
          <p class="content">I was tricked by the hype and marketing of the game. The game lacks both content and enjoyability.</p>
          <h5 class="userID">Written by mark1</h5>
        </div>
      </div>
    </div>

  </body>
</html>
