<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Far Cry Primal</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "fume/games.css" %}" />
  </head>
  <body>
    <div class="container nav">
      <nav>
        <div class="clearfix">
          <ul class="login">
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign In</a></li>
          </ul>
        </div>
        <ul class="menu">
          <li><a href="#">Search</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="/">Featured</a></li>
        </ul>
      </nav>
    </div>

    <div class="container top">
      <div class="gameImage">
        <img class="big" src="{% static "fume/farcry.png" %}" alt="">
        <div class="smallImage">
          <img class="small" src="" alt="">
          <img class="small" src="" alt="">
          <img class="small" src="" alt="">
        </div>
      </div>

      <div class="gameIntro">
        <img class="introImage" src="{% static "fume/farcrysm.png" %}" alt="">
        <p class="intro">Far Cry Primal is an action-adventure video game developed by Ubisoft Montreal and published by Ubisoft. It was released for the PlayStation 4, Xbox One, and Microsoft Windows in 2016. </p>
        <div class="tags">
          <ul class="tagging">
            <li class="tag"><a href="#">RPG</a></li>
            <li class="tag"><a href="#">Shooting</a></li>
            <li class="tag"><a href="#">Fun</a></li>
            <li class="tag addB"><a href="/tag/{{tag_id}}"><img id="addbutton" src="{% static "fume/addbutton.jpg" %}" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container purchaseC clearfix">
      <div class="purchase">
        <a href="/purchase/6"><h3 class="purchaseB">Purchase</h3></a>
      </div>
      <div class="purchase2">
        <a href="/purchase/6"><h3 class="purchaseB">Add to Cart</h3></a>
      </div>
    </div>

    <div class="container">
      <div class="comments">
        <div class="comment">
          <h4 class="title">Far Cry Primal is so Addictive</h4>
          <p class="content">This game is so fun that I played for 24 hours straight!</p>
          <h5 class="userID">Written by hello1</h5>
        </div>

        <div class="comment">
          <h4 class="title">Far Cry Primal is so Addictive</h4>
          <p class="content">This game is so fun that I played for 24 hours straight!</p>
          <h5 class="userID">Written by gogo23</h5>
        </div>

        <div class="comment">
          <h4 class="title">Far Cry Primal is so Addictive</h4>
          <p class="content">This game is so fun that I played for 24 hours straight!</p>
          <h5 class="userID">Written by byebye13</h5>
        </div>

        <div class="comment">
          <h4 class="title">Far Cry Primal is so Addictive</h4>
          <p class="content">This game is so fun that I played for 24 hours straight!</p>
          <h5 class="userID">Written by mark1</h5>
        </div>
      </div>
    </div>

  </body>
</html>
