<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "fume/purchase.css" %}" />

  </head>
  <body>
    <div class="container">
      <nav>
        <div class="clearfix">
          <ul class="login">
            <li style="display:none">{{ user }}</li>
            {% if user.is_anonymous %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% else %}
            <li><a href="/logout">Log Out</a></li>
            {% endif %}
          </ul>
        </div>
        <ul class="menu">
          <li><a href="#">Search</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="/">Featured</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="smallContainer clearfix">

        <h2>Cart</h2>
        <h3>There are {{amount}} games in your cart</h3>

        <div class="items">

          {% for gme in games %}
          <div class="item clearfix">
            <h3 class="name">Name: {{ gme.game }}</h3>
            <h4 class="price">Price: ${{ gme.price }}</h4>
            <h4 class="amount">Amount: 1</h4>
          </div>
          {% endfor %}

        </div>

        <h3 class="gameTotal">Game Price total is: ${{totalAmount}}</h3>
      </div>
    </div>

    <div class="container">
      <div class="smallContainer clearfix">
        <div class="rewardStatus">
          <div class="reward clearfix">
            <h3>Reward Status</h3>
            <h4 class="rewardNotice">You have 3 rewards</h4>
            <h4 class="rewardAsk">How many rewards do you want to use?</h4>
            <h4 class="enterReward">Enter reward amount</h4>
            <input class="rewardInput" type="text" name="reward" value="0">
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="smallContainer clearfix">

        <div class="total clearfix">
          <h3 class="tamount">Total Amount:</h3>
          <h4 class="tprice">${{totalAmount}}</h4>
        </div>
        <form action="/purchaseAll" method="post">
          {% csrf_token %}
          {{ form }}
          
          <input class="purchaseButton" type="submit" value="Purchase">
        </form>
      </div>
    </div>



  </body>
</html>
